# Hans On #

In [1]:
import pandas as pd
import numpy as np

## Mean ##

In [2]:
kolom = {'col1': [2,9,19],
         'col2': [5,np.nan,17],
         'col3': [3,9,np.nan],
         'col4': [6,0,9],
         'col5': [np.nan,7,np.nan]
        }
data =pd.DataFrame(kolom)

In [3]:
data

   col1  col2  col3  col4  col5
0     2   5.0   3.0     6   NaN
1     9   NaN   9.0     0   7.0
2    19  17.0   NaN     9   NaN

In [13]:
data.fillna(data.mean())

   umur
0  29.0
1  43.0
2  36.2
3  25.0
4  34.0
5  36.2
6  50.0

## Arbitrary (nilai suka suka) ##

In [4]:
umur = {'umur': [29,43,np.nan,25,34,np.nan,50]}

data = pd.DataFrame(umur)

data

   umur
0  29.0
1  43.0
2   NaN
3  25.0
4  34.0
5   NaN
6  50.0

In [5]:
data.fillna(99)

   umur
0  29.0
1  43.0
2  99.0
3  25.0
4  34.0
5  99.0
6  50.0

## End of Tail ##

In [6]:
umur = {'umur': [29,43,np.nan,25,34,np.nan,50]}

data = pd.DataFrame(umur)

data

   umur
0  29.0
1  43.0
2   NaN
3  25.0
4  34.0
5   NaN
6  50.0

#### feature engine ####

In [10]:
pip install feature-engine

Collecting feature-engine
  Using cached feature_engine-1.2.0-py2.py3-none-any.whl (205 kB)
Requirement already satisfied: numpy>=1.18.2 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from feature-engine) (1.22.2)
Requirement already satisfied: scikit-learn>=0.22.2 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from feature-engine) (1.0.2)
Requirement already satisfied: scipy>=1.4.1 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from feature-engine) (1.8.0)
Requirement already satisfied: statsmodels>=0.11.1 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from feature-engine) (0.13.2)
Requirement already satisfied: pandas>=1.0.3 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from feature-engine) (1.4.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.0.3->feature-engine) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.0.3->feature-engine) (2.8.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn>=0.22.2->feature-engine) (3.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn>=0.22.2->feature-engine) (1.1.0)
Requirement already satisfied: patsy>=0.5.2 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from statsmodels>=0.11.1->feature-engine) (0.5.2)
Requirement already satisfied: packaging>=21.3 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from statsmodels>=0.11.1->feature-engine) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from packaging>=21.3->statsmodels>=0.11.1->feature-engine) (3.0.6)
Requirement already satisfied: six in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from patsy>=0.5.2->statsmodels>=0.11.1->feature-engine) (1.16.0)
Installing collected packages: feature-engine
Successfully installed feature-engine-1.2.0
Note: you may need to restart the kernel to use updated packages.

In [14]:
from feature_engine.imputation import EndTailImputer

# setelah itu buat imputer
imputer = EndTailImputer(imputation_method='gaussian',tail='right')

#fit data imputer
imputer.fit(data)

#ubah data
test_data = imputer.transform(data)

#tampilkan data
test_data

        umur
0  29.000000
1  43.000000
2  66.896905
3  25.000000
4  34.000000
5  66.896905
6  50.000000

# Jika menggunakan data kategorikal #

### modus ###

In [42]:
from sklearn.impute import SimpleImputer

mobil = {'mobil': ['ford','ford','toyota','honda', np.nan,'toyota','honda','toyota',np.nan,np.nan]}

data = pd.DataFrame(mobil)

In [39]:
data

{'Jenis Kelamin': ['laki-laki',
  'perempuan',
  'laki-laki',
  nan,
  'laki-laki',
  'perempuan',
  'perempuan',
  nan,
  'laki-laki',
  nan],
 'Umur': [29, nan, 32, 43, 50, 22, nan, 52, nan, 17]}

In [40]:
inp = SimpleImputer(strategy='most_frequent')

In [43]:
inp.fit_transform(data)

array([['ford'],
       ['ford'],
       ['toyota'],
       ['honda'],
       ['toyota'],
       ['toyota'],
       ['honda'],
       ['toyota'],
       ['toyota'],
       ['toyota']], dtype=object)

jika kita menggunakan numerik dan kategorikal diselesaikan dalam satu waktu

In [48]:
# import dulu Random Sample
from feature_engine.imputation import RandomSampleImputer

#lalu buat data missing value nya
data = {'Jenis Kelamin': ['laki-laki','perempuan','laki-laki',np.nan,'laki-laki','perempuan','perempuan',np.nan,'laki-laki',np.nan],
        'Umur':[29,np.nan,32,43,50,22,np.nan,52,np.nan,17]}

df = pd.DataFrame(data)

In [49]:
df

  Jenis Kelamin  Umur
0     laki-laki  29.0
1     perempuan   NaN
2     laki-laki  32.0
3           NaN  43.0
4     laki-laki  50.0
5     perempuan  22.0
6     perempuan   NaN
7           NaN  52.0
8     laki-laki   NaN
9           NaN  17.0

In [51]:
# buat imputer
imputasi = RandomSampleImputer(random_state=29)

#fit ke set
imputasi.fit(df)

# ubah data

testing_df = imputasi.transform(df)

In [52]:
testing_df

  Jenis Kelamin  Umur
0     laki-laki  29.0
1     perempuan  52.0
2     laki-laki  32.0
3     perempuan  43.0
4     laki-laki  50.0
5     perempuan  22.0
6     perempuan  50.0
7     laki-laki  52.0
8     laki-laki  22.0
9     perempuan  17.0